body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.container {
  width: 450px;
  margin: 50px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gray;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.add-btn {
  padding: 12px 18px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.add-btn:hover {
  background-color: #45a049;
}

.task-list {
  margin-top: 20px;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eeeeee;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 18px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}